body{font-family:'Arial Narrow', Arial, sans-serif;}
body>form{display: flex;
    flex-direction: column;}
.form2{background-color: rgb(208, 208, 208);
}
.form2>form{padding-left:1% ;
    display: flex;
    flex-direction: column;
    font-size: 15px;}
input{width: 490px;
height: 20px;}
button{width: 80px;}
.submit{background-color: rgb(50, 50, 50);
color: white;}